// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 75vh;
	background: url('#{$path--rel}/bg-main.jpg'),
	            linear-gradient(#DADCE2, #8D9192);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
